@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

.navbar-brand img {
  width: 32px;
}

h2 {
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  color: #d4a373;
}

footer {
  height: 300px;
  background-color: #d4a373;
}


